[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
python-magic = "*"
wand = "*"
django-rest-registration = "*"
dry-rest-permissions = "*"
drf-yasg = "*"
djoser = "*"
swagger-spec-validator = "*"
django-cors-headers = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.7"
